<?xml version="1.0" encoding="UTF-8"?>
<mets xmlns="http://www.loc.gov/METS/"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.loc.gov/METS/cellar-mets.xsd"
      TYPE="{{ mets.type }}"
      PROFILE="{{ mets.profile }}">
    <metsHdr CREATEDATE="{{ mets.createdate }}">
        <metsDocumentID>{{ mets.document_id }}</metsDocumentID>
    </metsHdr>
    <dmdSec ID="{{ mets.dmd_id }}">
        <mdRef MDTYPE="{{ mets.dmd_mdtype }}" LOCTYPE="URL" MIMETYPE="application/rdf+xml" OTHERMDTYPE="{{ mets.dmd_othermdtype }}" xlink:href="{{ mets.dmd_href }}"/>
    </dmdSec>
    <amdSec>
        <techMD ID="{{ mets.tmd_id }}">
            <mdRef MDTYPE="{{ mets.tmd_mdtype }}" LOCTYPE="URL" MIMETYPE="application/rdf+xml" OTHERMDTYPE="{{ mets.tmd_othermdtype }}" xlink:href="{{ mets.tmd_href }}"/>
        </techMD>
    </amdSec>
    <fileSec>
        <fileGrp>
            <file ID="{{ mets.file_id }}" MIMETYPE="{{ mets.notice_file_mimetype }}" CHECKSUM="{{ mets.notice_file_checksum }}" CHECKSUMTYPE="{{ mets.notice_file_checksum_type }}">
                <FLocat LOCTYPE="URL" xlink:href="{{ mets.notice_file_href }}"/>
            </file>
        </fileGrp>
    </fileSec>
    <structMap ID="{{ work.identifier }}_struct_map_001">
        <div TYPE="work" CONTENTIDS="ted:{{ work.identifier }}" DMDID="{{ mets.dmd_id }}" ID="{{ work.identifier }}_w_001">
            <div TYPE="expression" CONTENTIDS="ted:{{ expression.identifier }}" DMDID="{{ mets.dmd_id }}" ID="{{ work.identifier }}_e_001">
                <div TYPE="manifestation" CONTENTIDS="ted:{{ manifestation.identifier }}" DMDID="{{ mets.dmd_id }}" ADMID="{{ mets.tmd_id }}" ID="{{ work.identifier }}_m_001">
                    <fptr CONTENTIDS="distribution:{{ notice.id }}/{{ mets.notice_file_href }}" FILEID="{{ mets.file_id }}"/>
                </div>
            </div>
        </div>
    </structMap>
    <behaviorSec>
        <behavior BTYPE="sparql-load" STRUCTID="{{ work.identifier }}_m_001">
            <mechanism LOCTYPE="URL" LABEL="Sparql-load" xlink:href="cellar-mets:sparql-load-behavior?model={{ work.uri | urlencode | replace("/", "%2F") }}"/>
        </behavior>
    </behaviorSec>
</mets>
