# Development libraries
allure-pytest-bdd~=2.13.2
coverage~=7.3.1
mongomock~=4.1.2
pycurl~=7.45.2
pytest~=7.4.2
pytest-bdd~=6.1.1
pytest-cov~=4.1.0
pytest-subtests~=0.11.0
tox~=4.11.3
tox-pytest-summary~=0.1.2
