# Project dependencies
pydantic==2.10.6
requests==2.32.3
deepdiff==8.5.0
jinja2==3.1.5
python-dotenv==1.1.1
pymongo==4.13.2
apache-airflow==2.10.5
hvac==2.3.0
sparqlwrapper==2.0.0
pandas==2.1.4
openpyxl==3.1.5
colorama==0.4.6
fastapi==0.116.1
python-dateutil==2.9.0.post0
rdflib==7.1.4
pyshacl==0.30.1
agraph-python==104.2.0
decorator==5.1.1
urllib3==2.3.0
semantic-version==2.10.0
paramiko==4.0.0
ordered-set~=4.1.0
json2html>=1.3.0
minio==7.2.16
certifi==2025.1.31
shortuuid==1.0.13
pendulum==3.0.0
saxonche==12.8.0
elasticsearch-dbapi==0.2.11
