# Project dependecies
pydantic~=1.9.0
requests~=2.27.1
deepdiff~=5.7.0
jinja2~=3.0.3
python-dotenv~=0.19.2
pymongo~=4.0.1
apache-airflow==2.2.5
hvac==0.11.2
SPARQLWrapper==1.8.5
pandas==1.3.5
python-logstash~=0.4.8
pymessagebus~=1.2
click~=8.1.0
openpyxl==3.0.9
colorama~=0.4
