# Development libraries
coverage>=7.8.0
pytest>=8.3.5
pytest-bdd>=8.1.0
pytest-cov>=6.1.1
pytest-subtests>=0.14.1
tox>=4.25.0
tox-pytest-summary>=0.1.2
mongomock>=4.3.0
uvicorn[standard]>=0.34.0
allure-pytest-bdd==2.13.5
allure-python-commons==2.13.5
pycurl>=7.45.6

# MSSDK - Mapping Suite SDK (from develop branch)
git+https://github.com/meaningfy-ws/mapping-suite-sdk.git@develop