<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML report for Conceptual Mappings Diff</title>
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <style>
    body {
        font-family: Arial, sans-serif;
        margin: 25px auto;
        width: 80%;
    }
    body>table.display td,
    body>table.display th {
        vertical-align: top;
        text-align: left;
    }
    table td {
        width: auto
    }

    table.heading td,
    table.heading th {
        border: 1px solid #ddd;
    }
    table.heading th {
        background-color: #eee;
        text-align: left;
    }
    table.heading thead td {
        text-align: left;
        font-weight: bold;
        width: 50%;
    }
    table.heading tbody th {
        white-space: nowrap;
    }
    </style>
  </head>
  <body>
	<h1>Conceptual Mappings Diff HTML report </h1>
	<hr>
    <ul>
        <li>Created at: {{ created_at }}</li>
    </ul>
	<hr>
    <h2>
        Conceptual Mappings
    </h2>
    <table class="heading">
        <thead>
            <tr>
                <th></th>
                <td>Conceptual Mapping 1</td>
                <td>Conceptual Mapping 2</td>
            </tr>
        </thead>
        <tbody>
            {% set branch1 = metadata['branches'][0] or metadata['defaults']['branch'] or "local" %}
            {% set branch2 = metadata['branches'][1] or metadata['defaults']['branch'] or "local" %}
            <tr>
                <th>Branch</th>
                <td>{{ branch1 }}</td>
                <td>{{ branch2 }}</td>
            </tr>
            {% set mapping_suite1 = metadata['mapping_suite_ids'][0] or metadata['mapping_suite_ids'][1] %}
            {% set mapping_suite2 = metadata['mapping_suite_ids'][1] or metadata['mapping_suite_ids'][0] %}
            <tr>
                <th>Mapping Suite</th>
                <td>{{ mapping_suite1 }}</td>
                <td>{{ mapping_suite2 }}</td>
            </tr>
            {% set file1 = metadata['files'][0] or metadata['defaults']['conceptual_mapping'] %}
            {% set file2 = metadata['files'][1] or metadata['defaults']['conceptual_mapping'] %}
            <tr>
                <th>Conceptual Mapping File</th>
                <td>{{ file1 }}</td>
                <td>{{ file2 }}</td>
            </tr>
            <tr>
                <th>Mapping Version</th>
                <td>{{ metadata['metadata'][0]['mapping_version'] }}</td>
                <td>{{ metadata['metadata'][1]['mapping_version'] }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h2>Report details: </h2>
    {% if data %}
        {{ data }}
    {% else %}
        <h3>NO DIFF</h3>
    {% endif %}
    <script>
        const tables = document.querySelectorAll('body>table');
        console.log(tables);
        for (const table of tables) {
          table.classList.add('dataTable');
        }
    </script>
  </body>
</html>
